<section class="modal" *ngIf="view" (click)="areaOutside($event)">
  <div class="modal-window">
    <button class="button-close" type="button" (click)="close()"></button>
    <form *ngIf="!objEvent && !exportJson" [formGroup]="addFormEvent" (ngSubmit)="addNewEvent()" class="form-container">
      <header class="header-modal">
        <h2 class="modal-title">Add event</h2>
      </header>
      <main class="main-modal">
        <p>
          <mat-form-field class="width">
            <input matInput type="text" placeholder="Title event" formControlName="title">
            <mat-error *ngIf="addFormEvent.controls.title.errors && addFormEvent.controls.title.errors.required">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p class=time-add>
          <mat-form-field class="time-input">
            <input matInput type="time" placeholder="star (8:00)" formControlName="start">
            <mat-error *ngIf="addFormEvent.controls.start.errors && addFormEvent.controls.start.errors.required">
              Start time is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addFormEvent.controls.start.errors && addFormEvent.controls.start.errors.startedBefore">
              Started after <strong>08:00</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="time-input">
            <input matInput type="time" placeholder="end (17:00)" formControlName="end">
            <mat-error *ngIf="addFormEvent.controls.end.errors && addFormEvent.controls.end.errors.required">
              End time is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addFormEvent.controls.end.errors && addFormEvent.controls.end.errors.lessThenStart">
              End less than a <strong>start</strong> or <strong>equals start</strong>
            </mat-error>
            <mat-error *ngIf="addFormEvent.controls.end.errors && addFormEvent.controls.end.errors.endAfter">
              End until <strong>17:00</strong>
            </mat-error>
          </mat-form-field>
        </p>
      </main>
      <footer class="footer-modal">
        <div class="modal-action">
          <button mat-raised-button class="button button_second" type="button" (click)="confirmation()" [disabled]="addFormEvent.invalid">Save</button>
          <button mat-raised-button class="button" type="button"  (click)="close()">Cancel</button>
        </div>
      </footer>
    </form>

    <div *ngIf="objEvent && !exportJson">
      <header class="header-modal">
        <h2 class="modal-title">{{objEvent.title}}</h2>
      </header>
      <main class="main-modal">
        <p>start: {{objEvent.start}}</p>
        <p>duration: {{objEvent.duration}}</p>
      </main>
      <footer class="footer-modal">
        <div class="modal-action">
          <button mat-raised-button class="button button_warning" type="button" (click)="delete()">Delete</button>
          <button mat-raised-button class="button" type="button"  (click)="close()">Cancel</button>
        </div>
      </footer>
    </div>

    <div *ngIf="!objEvent && exportJson">
      <header class="header-modal">
        <p>// 'start' & 'duration' are measured in minutes</p>
        <p>// 'start' 0 is 8:00a</p>
      </header>
      <main class="main-modal">
        <pre>{{exportJson}}</pre>
      </main>
      <footer class="footer-modal">
        <div class="modal-action">
          <button mat-raised-button class="button button_second" type="button" (click)="saveJson()">Save</button>
          <button mat-raised-button class="button" type="button"  (click)="close()">Cancel</button>
        </div>
      </footer>
    </div>

  </div>
</section>
