@font-face {
  font-family: 'Open Sans';
  src: url('src/assets/fonts/OpenSans-Light.woff2') format('woff2'),
      url('src/assets/fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('src/assets/fonts/OpenSans.woff2') format('woff2'),
      url('src/assets/fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}