<app-alert></app-alert>
<div class="form">
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="form-title">Login</h2>
    <p>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Login" formControlName="userName">
        <mat-error *ngIf="loginForm.controls.userName.errors && loginForm.controls.userName.errors.required">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.minlength">
          Please enter a min <strong>6</strong> symbols
        </mat-error>
        <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.required">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <div class="form-action">
      <button *ngIf="!(loading)" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      <button *ngIf="!(loading)" mat-raised-button routerLink='/auth/register' type="button">go to registration</button>
      <app-loader class="loader" *ngIf="loading"></app-loader>
    </div>
  </form>
</div>