@import 'src/assets/scss/vars';

.loader {
    display: block;
    width: 2.25rem;
    margin: 0 auto;
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        max-width: 30rem;
        width: 100%;
        border-radius: .7rem;
        box-shadow: 0 0 1.2rem .8rem rgba(0,0,0,.1);
        padding: 2rem;
    }
    &-title {
        text-align: center;
        font-size: 4rem;
    }
    &-action {
        display: flex;
        justify-content: space-between;
    }
}

.full-width {
    width: 100%;
}

